<div class="content" role="main">
    <div class="container-flex p-3">
      <h1>Paquetes completos</h1>
      <div>
        <div class="container-flex pt-3 p-2">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Destino</th>
                <th scope="col">Tiempo</th>
                <th scope="col">Precio</th>
                <th scope="col">Edición</th>
              </tr>
            </thead>
            <tbody *ngFor="let packet of packet">
              <tr>
                <th scope="row">{{ packet.idPacket }}</th>
                <td>{{ packet.nombreDestino }}</td>
                <td>{{ packet.tiempo }}</td>
                <td>S/{{ packet.precioDestino }}.00</td>
                <td><a class="btn btn-primary">Editar</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="p-5 pt-2 pb-2">
          <td><a class="btn btn-primary" routerLink="/nuevoPaquete">Nuevo</a></td>
        </div>
    </div>
</div>